
        <div class="row">
            <div class="jumbotron">
                <h1 class="display-3">Let's Get Scraping!</h1>
                <p class="lead">This is a simple web scraper that returns funny news articles from msn. Users can comment and save articles.</p>
                <hr class="my-4">
                <p>It uses a NoSQL database for storage. The crawler was written with cheeriojs.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
                </p>
            </div>
        </div>
