<div class="row">
    <div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Let's Get Scraping!</h1>
        <br>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
        </p>
        <br>
        <p class="lead">This is a simple web scraper that returns funny news articles from ComicsAlliance. Users can save articles and add notes.This uses a NoSQL database for storage. The crawler was written with cheeriojs. The server and route handling was written with Express.</p>
	</div>
    </div>
</div>
